/* Variables */

@import "../utilidades/variables";

/* Estilos Pagina Hombres */

.contenido-hombre{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0fr 0fr ;
    grid-template-rows: 1fr 1fr 3fr 0.1fr ;
    grid-template-areas: 
        "header header header"
        "main main main"
        "section section section"
        "footer footer footer";
}

/* estilos del header HOMBRE */

.headerHombre{
    grid-area: header;
    background-color:$color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tituloHombre{
    font-size: 2rem;
}

.inicioHombre{
    font-size: 1rem;
    padding: 0px 2.5rem;    
}


/* estilos del main HOMBRE */

.mainHombre{
    grid-area: main;
}

.titulo-productos-hombres{
    margin: 1rem;
    padding: 2.5rem;
    text-align: center;
    text-decoration: underline;
}

.sectionHombre{
    grid-area: section;
}

.imagenesHombres{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 3rem;
}

.remerasHombre{
    display: inline;
    margin: 2rem 0px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    
}

.shortsHombre{
    display: inline;
    margin: 2rem 0px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    
}

.ropaHombre{
    display: flex;
    justify-content: space-around;
    
}

/* estilos de footer HOMBRES */ 

.footerHombre{
    grid-area: footer;
    background-color: #bbb59b;
    position:relative;
    display:block;
    bottom: 0;
    margin: 2.5rem 0px 0px;
}